<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Custom</title>
    
</head>

<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <div id="btnBox"><button id="btn">PostingW</button></div>
    <br>
    <img id="bg" src="{% url 'open_img' %}">
    <br>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    username='연결 완료'
    
    $.ajax({
        method: "POST",
        url: "{% url 'Custom' %}",
        data: {
            "message": "연결이 종료",
            "csrfmiddlewaretoken" : "{{csrf_token}}"
        },
        success: function(response) {
            console.log("success");
        },
        error: function(response) {
            console.log("error");
        }
    })

    var ms = "OK";
    $.ajax({
        method: "GET",
        url: "{% url 'Store' %}",
        data: {
            "message": ms,
        },
        success: function(response) {
            console.log("END 성공");
            var a = $(response).find('#btn2');
            console.log(response);
        },
        error: function(response) {
            console.log("END Error");
        }
    });
</script>

</html>