<html>
<head>
    <title>Store</title>
</head>
<div><button id="btn2">500</button></div>
<br>
<textarea id="chatlog2" cols="100" rows="20"></textarea><br/>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
{% csrf_token %}
<script type="text/javascript">
    // 버튼 동작
    $('#btn2').click(function() {
        var use_point = $('#btn2').text();
        $.ajax({
            method: "POST",
            url: "{% url 'Store' %}",
            data: {
                "message": use_point,
                "csrfmiddlewaretoken" : "{{csrf_token}}"
            },
            success: function(response) {
                console.log("success");
                console.log(response.message);
            },
            error: function(response) {
                console.log("error");
            }
        });
    });
        $.ajax({
            method: "GET",
            url: "{% url 'Store' %}",
            data: {
            },
            success: function(response) {
                console.log("END 성공");
            },
            error: function(response) {
                console.log("END Error");
            }
        });
</script>
</html>