{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'paceweb/css/history.css' %}">
</head>
<body>
    <div class="container">
        <div class="pointContainer">
            <H1>PACE</H1>
            <div class="pointBox">
                <table class="point_table">
                    <caption>
                        <p class="user_phoneNumber">{{user.user_id}}</p>
                        <p class="user_text">님</p>
                    </caption>
                    <tbody>
                    <tr class="add">
                        <th>적립 포인트</th>
                        <td>
                            <p class="point" id="add_point">1000</p>
                            <p class="text">원</p>
                        </td>
                    </tr>
                    <tr class="use">
                        <th>사용 포인트</th>
                        <td>
                            <input class="input_point" 
                                   id="use_point" 
                                   type="text">
                            <p class="text">원</p>
                        </td>
                    </tr>
                    <tr class="total">
                        <th>누적 포인트</th>
                        <td>
                            <p class="point" id="total_point">{{user.user_point}}</p>
                            <p class="text">원</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="btnBox">
                <button id="useBtn">
                    사용하기
                </button>
                <button id="addBtn">
                    적립하기
                </button>
            </div>
        </div>
    </div>
    <script>
        const add_point = document.getElementById("add_point").innerHTML;
        const use_point = document.getElementById("use_point");
        const total_point = document.getElementById("total_point").innerText;

        // 포인트 사용 버튼 동작
        document.getElementById("useBtn").addEventListener('click', (e) => {
            console.log("포인트를 " + use_point.value + "원 사용합니다.");

            isValue(use_point.value);
        });

        function isValue(value) {
            if(value != null && value != '' && value != '0') {
                const question = confirm(value+" 포인트를 사용하시겠습니까?");

                // Would you like to your points? yes!
                if(question == true)
                    usedPoint(value)

            } else {
                alert("입력값이 없습니다. 다시 입력해주세요.");
            }
        }

        // uesd point(DB 연동 필요. DB의 point 값을 total 값으로 업데이트 해야함)
        function usedPoint(value) {
            console.log(value+"포인트를 사용합니다.");

            const total = parseInt(total_point) - value;

            alert(total+" 누적 포인트 입니다.");
        }

        // add point(DB 연동 필요. DB의 point 값을 total 값으로 업데이트 해야함)
        document.getElementById("addBtn").addEventListener('click', (e) => {
            console.log("포인트를 적립합니다.");

            const total = parseInt(total_point) + parseInt(add_point);

            console.log(total+" 누적 포인트 입니다.");

            location.href = '../';
        });
    </script>
</body>
</html>